# automatically activate dev environment when in project tree using direnv.
ACT=.nox/dev/bin/activate

if [ -e $ACT ]
then
    source $ACT
else
    echo "Activation script ${ACT} not found for dev environment.
Run nox -s dev to install dev environment"
fi
